.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  @include button($color-highlight);
}

.error {
  @include button($background-color-3);
}

.info {
  @include button($background-color-1);
}

.success {
  @include button($background-color-4);
}

.warning {
  @include button($background-color-2);
}