.img-avatar {
  @include images;
  max-height: 100%;
}

.img-frame {
  @include images;
  padding: 13px;
  border: 1px solid #ccc;
}

.img-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}